*{
    margin:0;
    padding:0;
}
.main{
    height:71vh;
    width:100vw;
    background-color: black;
    color:white;            
}
.row{
    height:51vh;
    width:100vw;
    padding:5vh 5vw 5vh 5vw;
}
.card{
    float:left;
    width:17vw;
    height:48vh;
    margin :3.5vh 0 0 4vw;
    background-color:#36383F;
    border-radius:10px;
    box-shadow: 0px 10px 100px 25px #28283d;
}
img{
    width:100%;
    height:60%;
    border-radius:10px;
}
.card a img:hover{
    width: 16vw;
    height:25vh;
    margin:1vh;
}
.php{
    padding:8vh;
}
.a{
    margin:2vh 0 0 2vw;
    color:black;
    background-color: white;
    padding:1vh 1vw;
    border-radius:10px;
}
.a:hover{
    color:white;
    background-color:#36383F;
}
.card a{
    color:white;
}
.card a:hover{
    color:black;
}
.card_body{
    padding:2px;
}