*{
    margin:0;
    padding:0;
}
body{
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;  
    -ms-overflow-style: none;
}
.body{
    height:90vh;
    width:100%;
    padding: 5vh 1vw;
    background-color:grey;
}
.body .head{
    background-color:grey;
    padding:2vh 0;
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
    border-radius:2%;
    float:right;
    width:20vw;
}
.head a .link p{
    text-align:center;
    color:blue;
}
.tail h1{
    float:none;
}
.main{
    margin-top:2vh;
    height:71vh;
    width:97vw;
    background-color: black;
    color:white;   
    border-radius:5%;         
}
.row{
    height:51vh;
    width:100vw;
    padding:5vh 5vw 5vh 5vw;
}
.card{
    float:left;
    width:17vw;
    height:48vh;
    margin :3.5vh 0 0 4vw;
    background-color:#36383F;
    border-radius:10px;
    box-shadow: 0px 10px 100px 25px #28283d;
}
img{
    width:100%;
    height:60%;
    border-radius:10px;
}
.card a img:hover{
    width: 16vw;
    height:25vh;
    margin:1vh;
}
.php{
    padding:8vh;
}
.a{
    margin:2vh 0 0 2vw;
    color:black;
    background-color: white;
    padding:1vh 1vw;
    border-radius:10px;
}
.a:hover{
    color:white;
    background-color:#36383F;
}
.card a{
    color:white;
}
.card a:hover{
    color:black;
}
.card_body{
    padding:2px;
}