{% extends "app/base.html" %}

{% load static %}

{% block title %}About{% endblock title %}
{% block banner_slider %}
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'app/images/banner/b1.jpg' %}" class="d-block w-100" alt="alt">
            </div>
            <div class="carousel-item">
                <img src="{% static 'app/images/banner/b2.jpg' %}" class="d-block w-100" alt="alt">
            </div>  
            <div class="carousel-item">
                <img src="{% static 'app/images/banner/b3.jpg' %}" class="d-block w-100" alt="alt">
            </div> 
             <div class="carousel-item">
                <img src="{% static 'app/images/banner/b4.jpg' %}" class="d-block w-100" alt="alt">
            </div>          
        </div>
    </div>
{% endblock banner_slider %} 
{% block main-content %}
    <div class="container mt-3">
        <br>
        <hr><h2 class="text-center">About Us</h2><hr>
        <br>
        <div class="row container">
            <p class="fs-4 text-center">
                "Moo Heaven: The Milk Oasis" is not just a dairy shop; it's a sanctuary for dairy enthusiasts and connoisseurs alike. Nestled in the heart of the countryside, our quaint little establishment is where the magic of milk truly comes to life.

                Step inside and be greeted by the soothing aroma of freshly churned butter and the gentle hum of milk being poured into creamy concoctions. From farm-fresh milk to velvety smooth curd, every product at Moo Heaven is crafted with love and care, ensuring the highest quality and freshness.

                Our passionate team of dairy artisans works tirelessly to bring you a diverse range of dairy delights, from traditional favorites like paneer and ghee to indulgent treats like ice cream and milkshakes. Each product is a testament to our commitment to excellence and our dedication to providing you with the very best that dairy has to offer.

                So whether you're in need of your daily dose of calcium or simply craving a taste of nostalgia, come visit us at Moo Heaven: The Milk Oasis, where every sip, scoop, and spoonful is a heavenly delight."
            </p>
        </div>
        <br><br/>
        <hr><h2 class="text-center">Mission</h2><hr>
        <br>
        <div class="row container">
            <p class="fs-4 text-center">At Moo Heaven, our mission extends beyond simply providing high-quality dairy products; it's about making a positive impact on society. We believe that access to nutritious and wholesome dairy should be a fundamental right for all, regardless of background or circumstance.

                Through our initiatives, we aim to empower local farmers by providing fair prices for their produce, thus supporting sustainable agricultural practices and strengthening rural communities. Additionally, we are committed to promoting environmental sustainability by minimizing our carbon footprint and implementing eco-friendly practices throughout our operations.
                
                Furthermore, we are dedicated to fostering health and well-being within our community by promoting the consumption of dairy products as part of a balanced diet. We strive to educate and raise awareness about the nutritional benefits of dairy, particularly among underserved populations, to combat malnutrition and promote overall health.
                
                In collaboration with local organizations and charities, we also endeavor to address food insecurity by donating dairy products to those in need and supporting initiatives that provide access to nutritious meals for vulnerable populations.
                
                Ultimately, our mission is to be more than just a dairy shop; we aspire to be a catalyst for positive change, contributing to the well-being of individuals, communities, and the environment. Together, we can create a brighter, healthier future for all.</p>
        </div>
    </div>
    <br><br/>
{% endblock main-content %}